<script>
    const POPULAR_CARS = '/api/popular/cars', CATALOGUE = '/api/catalogue';

    class Car {
        constructor({
                        battery,
                        size,
                        weight,
                        price,
                        name,
                        year,
                        img,
                        typeEngine,
                        country,
                        mileage,
                        stamp,
                        id,
                        images,
                        stampImg,
                        volume,
                        type,
                        power
                    }) {
            this.id = id
            this.battery = battery;
            this.size = size;
            this.weight = weight;
            this.year = year;
            this.img = img;
            this.images = images;
            this.price = price;
            this.name = name;
            this.typeEngine = typeEngine;
            this.type = type;
            this.country = country;
            this.mileage = mileage;
            this.stamp = stamp;
            this.stampImg = stampImg;
            this.volume = volume;
            this.power = power;
        }

        static async fetchCars(url, queryParams) {
            queryParams = new URLSearchParams(queryParams).toString();
            let cars = [];
            let data = await fetch(`${url}?${queryParams}`)
                .then(data => data.json());

            for (let car of data.data) {
                cars.push(Car.createCarFromData(car))
            }
            return {
                data: cars,
                pageCount: data.pageCount,
            };
        }

        static createCarFromData(data) {
            return new Car({
                id: data.id,
                name: data.name,
                typeEngine: data.typeEngine,
                country: data.country,
                weight: data.weight,
                price: data.fullPrice,
                img: data.images[0],
                images: data.images,
                cardImg: data.cardImg,
                battery: data.battery,
                mileage: data.mileage,
                stamp: data.stamp,
                size: data.size,
                year: data.year,
                stampImg: data.stampImg,
                volume: data.volume,
                type: data.type,
                power: data.power,
            })
        }

        createHtmlForCarCard() {

            const country = `
                                 ${this.country ? `
                                    <div>${this.country}</div>
                                        <div class="mini-divider bg-black"></div>
                                 ` : ''}
            `

            const mileAge = `
                                 ${this.mileage ? `
                                     <div>Пробег - <span class="number">${this.mileage}</span></div>
                                 ` : ''}
            `

            const fullDescription = `
                                 ${this.year ? `
                                    <strong>${this.year}</strong>
                                        ${
                                            country.trim().length === 0 &&
                                            mileAge.trim().length === 0 ? ``
                                                : `<div class="mini-divider bg-black"></div>`
                                        }
                                ` : ''}
                                ${country + mileAge}

            `
            return `
                <div class="white-color flex-column car-card">
                    <img class="car-card-img" src="${this.img}" alt=""/>
                    <div class="mlr-4 mt-2">
                        <strong class="fs-20 text-montserrat black"> ${this.name}</strong>
                        <div class="mt-05 list-price fs-13 font-weight-avg text-montserrat white width-max"><span class="number">${this.price}</span> ₽</div>
                        <div class="fs-12 text-montserrat flex-column mt-1 mb-2">
                            <div class="g-1 flex-row">
                               ${fullDescription}
                            </div>
                            <span class="mt-05">Двигатель - <strong>${this.typeEngine ?? ''}</strong></span>
                        </div>
                    </div>
                    <span>
                        <button class="btn btn-accent border-none"><img src="{{ asset('img/icon/like-button.svg') }}" />Добавить избранное</button>
                        <button class="btn btn-accent border-none"><img src="{{ asset('img/icon/cart-button.svg') }}" />Купить</button>
                    </span>
                </div>
            `
        }
    }
</script>