<div class="modal-social">
    <a href="{{ settings.value }}">
        <button class="btn btn-circle">
            <img src="{{ asset('img/whatsapp-icon.png') }}" class="invert-img" alt="" style="width: 35px" />
        </button>
    </a>
</div>