
.filters {
    background-color: #f8f8f8;
}

.input-filter::placeholder {
    padding-left: 10px;
    color: black;
}

.filter-underline {
    border: unset;
    background: linear-gradient(grey, grey) center bottom 1px / calc(100%) 1px no-repeat;
    padding: 10px 0;
}

.filter-underline:focus {
    outline: unset;
}

.li-filter {
    width: 180px;
}

.li-filter label {
    font-size: 13px;
}
