
:root {
    --default-aspect-ratio: 1.96;
}

.big-block {
    aspect-ratio: var(--default-aspect-ratio);
    width: 90%;
}

.eight-block {
    aspect-ratio: var(--default-aspect-ratio);
    width: 80%;
}

.seventi-block {
    aspect-ratio: var(--default-aspect-ratio);
    width: 70%;
}

.mini-block {
    aspect-ratio: var(--default-aspect-ratio);
    width: 45%;
}

.half-block {
    aspect-ratio: var(--default-aspect-ratio);
    width: 50%;
}

.third-block {
    aspect-ratio: var(--default-aspect-ratio);
    width: 30%;
}

.last-block {
    width: 100%;
    background-color: #212121;
}

.main-block {
    position: absolute;
    display: block;
    overflow: hidden;
}

.img-container {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.img-block {
    width: 100%;
    position: relative;
}

.center-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-size: 2.5vw;
}


.center-sub-block {
    color: white;
    text-align: center;
}

.center-sub-block p {
    text-align: center;
    font-size: 0.9vw;
    margin: 0.3vw;
}

.pop-models {
    font-weight: 900;
    font-size: 24px;
}

.car-name {
    font-size: 2vw;
}

.car-price {
    font-size: 1.1vw;
}

.label-description {
    margin: 0;
    font-size: 1.1vw;
}

.label-name {
    margin: 2px 0px;
    font-size: 0.9vw;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}


.settings-card {
    background-color: #323232;
    padding: 20px 0;
    border-radius: 3px;
}

.settings-card > h4 {
    padding: 0px 40px;
}

.settings-card > h6 {
    padding: 0px 40px;
}

.settings-card:hover {
    transition: all 0.3s ease;
    transform: scale(0.9);
    box-shadow: 0px 0px 4px 1px #5858586b;
}

.car-info {
    margin-left: 200px;
}

@media only screen and (max-width: 1200px) {
    .arrow {
        width: 9vw;
        height: 9vh;
    }

    .car-info {
        margin-left: 140px;
    }

    .arrows {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 840px) {
    .all-catalog {
        padding: 15px 250px;
    }

    .arrow {
        width: 8vw;
        height: 8vh;
    }

    .select-car {
        width: 100%;
    }

    .card-pop-cars {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .all-filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .column-filter {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .column-filter li {
        margin: 10px 0 0;
        width: 100%;
    }

    .none-filter {
        display: none;
    }

    .all-catalog {
        padding: 15px 80px;
        margin-bottom: 20px;
    }

    .center-sub-block p {
        margin: 0.5vw;
        font-size: 2.5vw;
    }

    .all-filters {
    }

    .column-filter {
        margin: 0 5px;
    }

    .li-filter {
        width: 140px;
        height: 47px;
    }

    .li-filter > label {
        font-size: 11px;
    }

    .filter-underline {
        font-size: 12px;
        width: 100%;
        padding: 7.7px 0;
    }

    .mobile-btn {
        width: 100%;
        margin: 20px auto 0;
        padding: 15px 0;
    }

    .call-btn {
        width: 85%;
    }

    .select-car > h2 {
        font-size: 16px;
        margin: 45px auto;
    }

    .pop-models {
        margin-top: 30px;
        font-size: 18px;
    }

    .pop-model {
        flex-direction: column-reverse;
        align-items: center;
    }

    .pop-model > div {
        margin: 0;
    }

    .car-description {
        display: grid;
        grid-template-columns: 160px 160px;
        grid-gap: 10px;
        justify-content: center;
        margin-top: 25px;
    }

    .car-description > div {
        margin: 0;
    }

    .label-description {
        font-size: 10px;
    }

    .label-name {
        font-size: 10px;
    }

    .card-pop-cars {
        margin-top: 30px
    }

    .our-advantages {
        flex-direction: column;
    }

    .our-advantages > div {
        margin: 10px 0;
        width: 100%;
    }

    .header-text {
        font-size: 12px;
    }

    .main-text {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
