<div class="banner relative">

    <div class="swiper-container relative">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img alt="" class="img-cover" src="{{ asset('img/last-video.svg') }}">
            </div>
            <div class="swiper-slide">
                <img alt="" class="img-cover" src="{{ asset('img/index/example-car.svg') }}">
            </div>
        </div>

    </div>

    <div class="custom-pagination absolute">
            <span class="custom-bullet active" >
                <span class="loader"></span>
            </span>
        <span class="custom-bullet">
                <span class="loader"></span>
            </span>
    </div>


    <div class="consultation h-inherit pt-2">
        <h1 class="free-consultation montserrat mlr-5" style="color: #212121;">Бесплатная консультация</h1>
        <p style="font-weight: normal" class="montserrat mlr-5 fs-15">Поможем подобрать автомобиль и расскажем как его
            получить</p>
        <div class="grid mlr-5">
            <label>
                <input type="text" placeholder="+7" class="banner-tel fs-15 underline text-montserrat"/>
            </label>
            <span style="color: #757575;" class="text-montserrat mt-05 fs-12">Номер телефона</span>
        </div>
        <p class="flex-j-center banner-call-btn mlr-5 g-2 mt-3">
            <img alt="" src="{{ asset('img/index/black-phone.svg') }}"/>
            <span>Заказать звонок</span>
        </p>
    </div>
</div>