<div class="free-consultation-banner mt-3 mb-2">
    <img alt="" class="free-consultation-banner-img" src="{{ asset('img/index/free-consultation.svg') }}">
    <div class="text-montserrat free-consultation-block">
        <div class="ml-2 free-consultation-text-block height-100">
            <p class="fs-30-bold white m-0 text-montserrat">Бесплатная консультация</p>
            <p class="white fs-15 mb-0">Поможем подобрать автомобиль и расскажем как его получить</p>
            <div class="flex free-consultation-button-block g-6">
                <input type="text" placeholder="+7 (000) 00 00-00" class="fs-16 white free-consultation-tel text-montserrat mb-0"/>
                <p onclick="orderCall('.free-consultation-tel')" class="btn flex-j-center free-consultation-call g-4 mb-0">
                    <img alt="" src="{{ asset('img/index/black-phone.svg') }}"/>
                    <span class="fs-16 flex-center">Заказать звонок</span>
                </p>
            </div>
        </div>
        <div class="relative free-consultation-car height-100">
            <img class="absolute" alt="" src="{{ asset('img/index/car-consultation.svg') }}">
        </div>
    </div>
</div>