<label for="country" class="text-montserrat">Страна производитель</label>
<select id="country" class="select-filter">
    <option class="" value="">Все страны</option>
    {% for country in countries %}
        <option class="" value="{{ country['id'] }}">{{ country['name'] }}</option>
    {% endfor %}
</select>