{% extends 'admin/base.html.twig' %}

{% block title %}Создание машины{% endblock %}

{% block body %}
    <h1>Создание машины</h1>

    {{ include('admin/car/_form.html.twig') }}

    <a href="{{ path('app_car_index') }}" class="btn btn-light">Вернуться к списку</a>
{% endblock %}
